{{ define "main" }}
  <header class="pt-16 pb-4 bg-teal-50">
    <div class="center-block">
      <h1 class="text-5xl font-semibold">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h1>
      {{ with .Description }}
        <p class="mt-2 text-2xl">
          {{ . | emojify }}
        </p>
      {{ end }}
      {{ if .Params.tags }}
        <ul class="inline-flex flex-wrap space-x-2 text-teal-800">
          {{ range .Params.tags }}
            <li><a href="{{ (urlize (printf " tags/%s" . )) | absURL }}/">#{{ . }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </header>
  {{ range .RegularPages.GroupByPublishDate "2006" }}
    <section class="flex flex-col md:flex-row center-block">
      <div class="relative flex-shrink-0 md:w-72">
        <h3 class="sticky top-0 px-4 text-2xl font-semibold border-yellow-200 pb-2 md:border-b-2">
          {{ .Key }}
        </h3>
      </div>
      <div class="flex-grow">
        {{ range .Pages.GroupByPublishDate "January" }}
          <h3 class="px-4 pb-3 text-xl font-semibold border-b-2 border-teal-200">{{ .Key }}</h3>
          {{ range .Pages }}
          <h3 class="px-4 mt-2 text-xl">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          </h3>
            <p class="px-4 mb-4">
                {{- if .Date }}
                {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
                <span class="text-yellow-400">&middot</span>
                {{ end -}}
                {{ .ReadingTime }} min read
            </p>
          {{ end }}
        {{ end }}
      </div>
    </section>
  {{ end }}
{{ end }}
