{{ define "main" }}
  <header class="pt-16 pb-4 bg-teal-50">
    <div class="center-block">
      <h1 class="text-5xl font-semibold">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h1>
      {{ with .Description }}
        <p class="mt-2 text-2xl">
          {{ . | emojify }}
        </p>
      {{ end }}
    </div>
  </header>
  <section class="center-block">
    <ol class="space-y-8 list-decimal">
      {{ range .Pages.ByWeight }}
        <li>
          <h2
            class="text-2xl inline-block font-semibold mr-4 {{ if not .Draft }}
              line-through
            {{ end -}}"
          >
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          </h2>
          {{ if .Params.tags }}
            <span class="space-x-1">
              {{ range .Params.tags }}
                <a
                  class="p-1 text-xs text-gray-600 lowercase bg-gray-100 rounded inline-bold"
                  href="{{ (urlize (printf "tags/%s" . )) | absURL }}/"
                  >#{{ . }}</a
                >&nbsp;
              {{ end }}
            </span>
          {{ end }}
        </li>
      {{ end }}
    </ol>
  </section>
{{ end }}
