{{ define "main" }}
  <header class="pt-16 pb-4 bg-teal-50">
    <div class="center-block">
      <h1 class="text-5xl font-semibold">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h1>
      {{ with .Description }}
        <p class="mt-2 text-2xl">
          {{ . | emojify }}
        </p>
      {{ end }}
      {{ if .Params.tags }}
        <ul class="inline-flex flex-wrap space-x-2 text-teal-800">
          {{ range .Params.tags }}
            <li><a href="{{ (urlize (printf " tags/%s" . )) | absURL }}/">#{{ . }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </header>

  <article class="center-block prose prose-lg">
    <div>
      <p class="pl-2 border-l-2 border-yellow-400">
        {{- if .Date }}
          {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
          <span class="text-yellow-400">&middot</span>
        {{ end -}}
        {{ .ReadingTime }} min read
      </p>
      <div>
        {{ if .Params.Cover }}
          <figure>
            {{ if .Params.UseRelativeCover }}
              <img
                src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}"
                alt="{{ .Params.CoverAlt | plainify | default .Title }}"
              />
            {{ else }}
              <img
                src="{{ .Params.Cover | absURL }}"
                alt="{{ .Params.CoverAlt | plainify | default .Title }}"
              />
            {{ end }}

            {{ if .Params.CoverCaption }}
              <figcaption>{{ .Params.CoverCaption | markdownify }}</figcaption>
            {{ end }}
          </figure>
        {{ end }}

        {{ if or .Params.Toc $.Site.Params.Toc }}
          <h2>Table of Contents</h2>
          <aside>{{ .TableOfContents }}</aside>
        {{ end }}
        {{ .Content | emojify }}
      </div>
    </div>
  </article>
  {{ if or .NextInSection .PrevInSection }}
    <div class="mb-16 text-center center-block">
      {{ if .NextInSection }}
        <a
          class="inline-block p-1 m-2 text-xl border-2 border-yellow-400 hover:bg-yellow-50"
          href="{{ .NextInSection.Permalink }}"
        >
          <span class="font-bold text-yellow-400">←</span>
          <span>{{ .NextInSection.Title }}</span>
        </a>
        <br />
      {{ end }}
      {{ if .PrevInSection }}
        <a
          class="inline-block p-1 m-2 text-xl border-2 border-teal-400 hover:bg-teal-50"
          href="{{ .PrevInSection.Permalink }}"
        >
          <span>{{ .PrevInSection.Title }}</span>
          <span class="font-bold text-teal-400">→</span>
        </a>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
