{{ if .Get "src" }}
  <figure>
    <img
      src="{{ .Get "src" | safeURL }}"
      {{ with .Get "alt" }}alt="{{ . | plainify }}"{{ end }}
      class="mx-auto w-full"
    />
    {{ if .Get "caption" }}
      <figcaption
        class="{{ with .Get "captionPosition" }}
          {{ . }}
        {{ else -}}
          text-center
        {{- end }}"
        {{ with .Get "captionStyle" }}style="{{ . | safeCSS }}"{{ end }}
      >
        {{ .Get "caption" | markdownify }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
